/* src/App.css */
.weather-app {
  max-width: 400px;
  margin: 150px auto; /* Ajusta el margen superior e inferior para centrar verticalmente */
  padding: 20px;
  text-align: center;
  background-color: #F7D4CC;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}

label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}


input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.weather-info {
  margin-top: 10px; /* Ajusta el margen superior para centrar verticalmente */
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 10px;
}
